.logo{
	float: left;
	width:235px;
	height: 80px;
	background-color: #2e3741
}
.indexhead{
	background-color:#2e3741 ;
	font-size: 20px;
	font-weight: 100;
	
	
	
}
.nav{
	height: 80px;
	padding: 20px;
	
}
.col-lg-6{
	float: right;
	width: 300px;
	padding: 10px;
}
.user{
	float: right;

}

.site-sort-box{
	display: flex;
	margin: 20px;
	list-style: none;
	
}
.yxt-footer{
	display: flex
}
.Midde{
	margin-left:10px;
	font-size: 13px;
	color: darkgrey;
}
.site-title{
	margin-top: 0px;
	list-style: none;
}
.site-list{
	padding-left: 0px;
	list-style: none;
}
.list{
	margin: 23px;
}
.sitetext{
	margin-left:130px ;
	margin-top: 0px;
    
	
}
.title{
	background-color: #A9A9A9;
	height: 40px;
}
.last{
	margin-left: 240px;
}

.Midd{
	height: 770px;
}
.text-title{
	}
.btn{
	background-color: antiquewhite;
	border: 1px solid #2E3741;
	width: 250px;
	color: orangered;
}