.header-bg-dark {
    position: relative;
	width: 100%;
    z-index: 101;
    background-color: #2e3741;
    box-shadow: 0px 4px 20px 2px rgba(0,0,0,0.2);
}
.c_container1200 {
    max-width: 1200px;
    min-width: 1200px;
    margin: 0 auto;
}
.yxt-headerbox {
    padding: 13px 0;
    height: 82px;
    line-height: 55px;
	display: flex;
}
ul, li, ol {
    list-style: none;
}

.yxt-headerbox a.yxt-logo {
    display: inline-block;
    width: 161.5px;
    height: 50px;
    margin-top: 2.5px;
    background: url(https://picobd.yxt.com/orgs/yxt_malladmin/mvcpic/image/201811/71672740d9524c53ac3d60b6a4123bca.png);
    background-size: cover;
}
.yxt-headerbox .nav-aside .user>a {
    display: inline-block;
    width: 20px;
    height: 18px;
	margin-top: 17px;
    background: url(http://www.yxt.com/content/yxtweb/images/header/ico.png);
	background-position: -20px -1px;
}
.yxt-headerbox .nav-aside .search>a {
    display: inline-block;
    width: 20px;
    height: 18px;
	margin-top: 17px;
    background: url(http://www.yxt.com/content/yxtweb/images/header/ico.png);
	background-position: -20px -55px;
}
.nav-aside.pull-right1{
	padding: 0;
	width: 8%;
	height: 100%;
	margin-left: 25px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	/* background-color: #0175D2; */
	/* display: block; */
	/* opacity: 1; */
}
.nav-list.pull-right1{
	padding: 0;
	width: 73%;
	height: 100%;
	/* background-color: aliceblue; */
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-left: 30px;
	/* display: block; */
	/* opacity: 1; */
}
.nav-list.pull-right1 li a{
	font-size: 16px;
	color: white;
}
.nav-list.pull-right1 li a:hover{
	color: #FF6700;
	text-decoration: none;
}
#active{
	color: #FF6700;
}

#hiddenkuang{
	width: 530px;
	height: 100%;
	padding-top: 12px;
	/* background-color: wheat; */
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-left: 250px;
}
/* 搜索框 */
.yxt-header-search input {
    /* position: absolute; */
    /* left: 30px; */
    color: #fff;
    width: 462px;
    height: 35px;
    padding: 2px 8px;
    line-height: 31px;
    background-color: #2e3741;
    border: 1px solid #2e3741;
}

.yxt-header-search .pr .searchico {
    background-position: -20px -79px;
	margin-top: 10px;
    /* right: 0; */
}
.yxt-header-search .pr .closeico {
    background-position: 0 -79px;
	margin-top: 8px;
    /* left: 0; */
}
.yxt-header-search .pr .closeico:hover {
    transform: rotate(90deg); /* 图标旋转效果*/
}
.yxt-header-search .closeico, .yxt-header-search .searchico {
    cursor: pointer;
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(http://www.yxt.com/content/yxtweb/images/header/ico.png);
    transition: all .15s ease-out;
}
.yxt-header-search {
    display: none;
	opacity: 0;
    margin-left: 20px;
    transition: all .5s;
}