body{
	width: 100%;
	margin: 0 auto;
}


/* incontroller1 */
.incontroller1{
	width: 100%;
	height: 640px;
	margin:  0 auto;
	margin-top: 50px;
	/* background: #0000FF; */
}
#carousel-example-generic{
	width: 100%;
	height: 640px;
}
#activeimg{
	width: 100%;
	height: 640px;
}
/* incontroller2 */
.incontroller2{
	width: 1260px;
	height: 622px;
	margin: 0 auto;
	margin-top: 50px;
	/* background-color: saddlebrown; */
}
#has-aniamtion,#has-aniamtion1,#has-aniamtion2,#has-aniamtion3,#has-aniamtion4,#has-aniamtion5,#has-aniamtion6,#has-aniamtion7,#has-aniamtion8{
	transition: all 1.5s;
	transform: translate3d(0, 40px, 0);
	opacity: 0;
	filter: alpha(opacity=0);
}


.incontroller2 h1{
	font-size: 42px;
	color: #333333;
	text-align: center;
	/* padding-top: 20px; */
}
.incon2_text{
	width: 730px;
	height: 112px;
	margin: 0 auto;
	text-align: center;
	margin-top: 25px;
	line-height: 35px;
	/* background-color: aliceblue; */
	font-size: 18px;
	color: #666666;
}
.incon2_mianban{
	width: 100%;
	height: 435px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	/* background-color: aliceblue; */
}
.inmb_1{
	width: 23%;
	height: 100%;
	border: 1px solid #dbe0e5;
}
.inmb1_up{
	width: 100%;
	height: 70px;
	background-color: #F5F7FA;
}
.inmb1_up h1{
	padding: 0;
	margin: 0;
	font-size: 20px;
	color: #666666;
	line-height: 70px;
}
.inmb1up_middle{
	width: 90%;
	height: 30px;
	margin: 0 auto;
	margin-top: 62px;
	/* background: indianred; */
	
}
#middleinmb3{
	width: 70%;
	/* background: indianred; */
}
#middleinmb1,#middleinmb3{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
#middleinmb2{
	text-align: center;
}
.inmb1up_middle a{
	line-height: 30px;
	font-size: 18px;
	color: #333333;
}
.inmb1up_middle a:hover{
	color: orangered;
}
.inmb1up_middle span{
	line-height: 27px;
	font-size: 20px;
	color: #DBE0E5;
}
.inmb1up_down{
	width: 100%;
	height: 170px;
	/* background-color: aliceblue; */
	margin-top: 70px;
}
.inmb1up_down img{
	margin-left: 32px;
}

/* incontroller3 */
.incontroller3{
	position: relative;
	width: 100%;
	height: 1042px;
	background: url(http://www.yxt.com/content/yxtweb/images/bg1.jpg) center center no-repeat;
}
.incontroller3 h1{
	font-size: 42px;
	color: white;
	text-align: center;
	padding-top: 50px;
	/* padding-top: 20px; */
}
.incon3_text{
	width: 600px;
	height: 112px;
	margin: 0 auto;
	text-align: center;
	margin-top: 25px;
	line-height: 35px;
	/* background-color: aliceblue; */
	font-size: 18px;
	color: white;
}
.incon3_ul{
	width: 1200px;
	height: 372px;
	margin: 0 auto;
	margin-top: 440px;
	/* background-color: white; */
	display: flex;
}
.incon3_lileft{
	width: 700px;
	height: 100%;
	/* background-color: navajowhite; */
}
.incon3_liright{
	width: 500px;
	height: 100%;
	/* background-color: aliceblue; */
}
.lileft1,.liright2{
	width: 100%;
	height: 186px;
	/* background-color: aquamarine; */
	display: flex;
}
.lileft1 img,.liright2 img{
	margin-top: 44px;
}
.lileft2,.liright1{
	width: 100%;
	height: 178px;
	/* background-color: #0000FF; */
	display: flex;
}
.lileft2 img,.liright1 img{
	margin-top: 40px;
}
.pull-left{
	height: 106px;
	width: 500px;
	padding-left: 70px;
	/* background-color: #0000FF; */
	margin-top: 40px;
}
.pull-right{
	height: 106px;
	width: 300px;
	padding-left: 56px;
	/* background-color: #0000FF; */
	margin-top: 40px;
}
.pull-left p,.pull-right p{
	margin-bottom: 10px;
	font-size: 20px;
	color: #0175d2;
}
.pull-left div,.pull-right div{
	font-size:14px;
	color:#ccc;
	line-height: 23px;
}


/* incontroller4 */
.incontroller4{
	width: 1260px;
	height: 530px;
	margin: 0 auto;
	margin-top: 20px;
	/* background-color: aliceblue; */
}
.incontroller4 h1{
	font-size: 42px;
	color: #333333;
	text-align: center;
	padding-top: 40px;
}
.incon4_text{
	width: 600px;
	height: 112px;
	margin: 0 auto;
	text-align: center;
	margin-top: 25px;
	line-height: 35px;
	/* background-color: aliceblue; */
	font-size: 18px;
	color: #666666;
}
.incon4_mianban{
	height: 300px;
	width: 100%;
	/* background-color: #0000FF; */
	display: flex;
	flex-direction: row;
}
.ic4mbimg{
	width: 20%;
	height: 100%;
	/* background-color: #188EEE; */
}
.ic4mbimg img{
	margin-left: 40px;
}
.ic4mbimg h1{
	text-align: center;
	padding: 0;
	font-size: 20px;
	color: #333333;
	margin-top: 50px;
}
.ic4mbimg p{
	text-align: center;
	font-size: 12px;
	color: #8698aa;
	margin-top: 20px;
}


/* incontroller5 */
.incontroller5{
	width: 100%;
	height: 610px;
	margin:  0 auto;
	/* background: url(images/bg4.jpg) center center no-repeat; */
	/* background: #0000FF; */
}
.incon5_img{
	width: 100%;
	height: 100%;
	background: url(http://www.yxt.com/content/yxtweb/images/bg4.jpg) center center no-repeat;
}