.new_coursewrap{
	margin-top: 40px;
	margin-left:260px ;
	border: #2E3741;
	 border: 1px solid gainsboro;
	 width: 75%;
}
.down_courselevel{
	
	    
}
.course_title {
	  display: flex;
	    flex-flow: row wrap;
	    align-content:space-around;
		margin: 18px;
}
.ul
{
    list-style-type: none;
    padding:0px;
    margin: 0px;
}
.directory
{
	float: right;
    background-image: url(sqpurple.gif);
    padding-left: 35px; 
	color: #A9A9A9;
	
}
.carousel-inner{
    margin-top:100px ;
	display: contents;
	width:100%;
	
}
.carousel{
	width: 80%;
	margin-left: 209px;

	
}


/* 第二部分格式*/
.tabcontent {
	margin-top: 30px;
    padding: 10px 12px 0 0;
    min-height: 40px;
	margin-left: 209px;
}
.list-inline{
	width:90%;
	border: solid 1px #E4E4E4;
	
}
.diyige{
	    line-height: 50px;
	    padding: 10px;
		
}
/*第三部分*/
.sort-bar {
    background: #F7F7F7;
    border: solid 1px #E4E4E4;
	width: 80%;
	margin-left: 200px;
	height: 80px;
}
.navbar-nav{
	margin-top: auto;
}
.searchleft{
	float: right;
	margin-top: 15px;

}
.btn-default{
	width: 90px;
}
.helfpage{
	height: 960px;
	background-color: wheat;
	width: 80%;
	margin-left: 200px;
}
.pagination{
	display:block ;
}