.new_coursewrap{
	margin-top: 40px;
	margin-left:260px ;
	border: #2E3741;
	 border: 1px solid gainsboro;
	 width: 75%;
}
.down_courselevel{
	
	    
}
.course_title {
	  display: flex;
	    flex-flow: row wrap;
	    align-content:space-around;
		margin: 18px;
}
.ul
{
    list-style-type: none;
    padding:0px;
    margin: 0px;
}
.directory
{
	float: right;
    background-image: url(sqpurple.gif);
    padding-left: 35px; 
	color: #A9A9A9;
	
}
.carousel-inner{
    margin-top:100px ;
	display: contents;
	width:80%;
	
}
.carousel{
	width: 70%;
	margin: 0 auto;

	
}


/* 第二部分格式*/
.tabcontent {
	
    min-height: 40px;
	margin: 0 auto;
	margin-top: 30px;
	padding: 10px 12px 0 0;
}
.list-inline{
	width:70%;
	border: solid 1px #E4E4E4;
	margin: 0 auto;
	
}
.diyige{
	    line-height: 50px;
	    padding: 10px;
		
}
/*第三部分*/
.sort-bar {
    background: #F7F7F7;
    border: solid 1px #E4E4E4;
	width: 70%;
	height: 55px;
	margin: 0 auto;
}
.navbar-nav{
	margin-top: auto;
	margin: 0 auto;
}
.searchleft{
	float: right;
	margin-top: 15px;
	margin: 0 auto;

}
.btn-default{
	width: 60px;
	margin: 0 auto;
}
#courseList{
	height: 1704px;
	width: 80%;
	margin-left: 200px;
	margin: 0 auto;
}
.teacherlist li{
	margin-top: 25px;
	float: left;
	margin-left:55px;
	margin-bottom: 25px;
	padding: 15px 30px;
	width: 220px;
	text-align: center;
	background-color: #f7f7f7;
	
}
.bule-tec{
	left: 9px;
	bottom: 17px;
	display: inline-block;
	padding-top: 7px;
	width: 132px;
	height: 28px;
	line-height: 22px;
	color: #fff;
	background:url(http://www.yxt.com/Content/images/ypay/blue-tec.png) center no-repeat;
}
.one-line{
	color: #999;
}
.font-size-16{
	margin-top: 25px;
	margin-bottom: 28px;
}
